@using global::FormBuilder.Models

<RadzenFormField Class="w-100" Text="@Field.Label" AllowFloatingLabel="true">
    <Start>@Prepend</Start>
    <ChildContent>
        @switch (Field)
        {
            case TextField textField:
                <RadzenTextBox
                    Name="@textField.Name"
                    @bind-Value="textField.Value"
                    Placeholder="@textField.Placeholder"
                    ReadOnly="Disabled">
                </RadzenTextBox>
                break;
            case SelectField selectField:
                <RadzenDropDown
                    Name="@Field.Name"
                    @bind-Value="selectField.Value"
                    Data="@selectField.Options"
                    Placeholder="@selectField.Placeholder"
                    ReadOnly="Disabled">
                </RadzenDropDown>
                break;
            case NumericIntField numericIntField:
                <RadzenNumeric
                    Name="@numericIntField.Name"
                    @bind-Value="numericIntField.Value"
                    Placeholder="@numericIntField.Placeholder"
                    ReadOnly="Disabled">
                </RadzenNumeric>
                break;
            case NumericDoubleField numericDoubleField:
                <RadzenNumeric
                    Name="@numericDoubleField.Name"
                    @bind-Value="numericDoubleField.Value"
                    Placeholder="@numericDoubleField.Placeholder"
                    ReadOnly="Disabled">
                </RadzenNumeric>
                break;
            case DateField dateField:
                <RadzenDatePicker
                    Name="@dateField.Name"
                    @bind-Value="dateField.Value"
                    Placeholder="@dateField.Placeholder"
                    ReadOnly="Disabled">
                </RadzenDatePicker>
                break;
        }
    </ChildContent>
    <End>@Append</End>
    <Helper>
        @if (Field.Required)
        {
            <RadzenText TextStyle="TextStyle.Caption">
                <span class="text-danger">*</span> required
            </RadzenText>
        }
    </Helper>
</RadzenFormField>
