@using global::FormBuilder.Models

@if (SelectedField is not null)
{
    <RadzenTemplateForm Data="@SelectedField">
        <RadzenStack Orientation="Orientation.Vertical">
            <RadzenFormField Text="ID">
                <RadzenTextBox @bind-Value="SelectedField.Name" Disabled="true"/>
            </RadzenFormField>
            <RadzenFormField Text="Input Type">
                <RadzenDropDown
                    TValue="FieldType"
                    @bind-Value="InputType"
                    Data="_inputTypes"
                    TextProperty="Text"
                    ValueProperty="Value">
                </RadzenDropDown>
            </RadzenFormField>
            <RadzenFormField Text="Label">
                <RadzenTextBox @bind-Value="Label"/>
            </RadzenFormField>
            <RadzenFormField Text="Placeholder" AllowFloatingLabel="false">
                <RadzenTextBox @bind-Value="Placeholder"/>
            </RadzenFormField>
            <div>
                <RadzenCheckBox Name="RequiredInput" @bind-Value="@Required"/>
                <RadzenLabel Text="Required" Component="RequiredInput"/>
            </div>
            <div>
                <RadzenCheckBox Name="ReadOnlyInput" @bind-Value="@ReadOnly"/>
                <RadzenLabel Text="Read only" Component="ReadOnlyInput"/>
            </div>
            <div>
                <RadzenCheckBox Name="DisabledInput" @bind-Value="@Disabled"/>
                <RadzenLabel Text="Disabled" Component="DisabledInput"/>
            </div>

            @if (SelectedField is SelectField selectField)
            {
                <RadzenFormField Text="List ID">
                    <RadzenDropDown
                        @bind-Value="SelectedListId"
                        Data="_listIds"
                        Count="@_listIdCount"
                        LoadData="LoadListIdValuesAsync"
                        AllowVirtualization="true"
                        AllowFiltering="true"
                        AllowClear="true">
                    </RadzenDropDown>
                </RadzenFormField>
                
                @if (selectField.Options.Any())
                {
                    <RadzenFormField Text="List Values">
                        <RadzenDropDown
                            TValue="string"
                            Data="_listValues"
                            AllowFiltering="true"
                            AllowClear="true">
                        </RadzenDropDown>
                    </RadzenFormField>
                }
            }
        </RadzenStack>
    </RadzenTemplateForm>
}
